.yacht {
	margin: 0 auto;
	// margin-top: -18px;
	padding: 43px 0 25px;
	position: relative;
	background-color: var(--main-blue);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25) inset,
		0 10px 40px rgba(15, 61, 84, 0.5);
	overflow: hidden;
	&::before {
		display: none;
		//Для большого планшета
		@media (min-width: 1024px) {
			display: block;
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("../img/blueprint-bg.png");
			background-repeat: no-repeat;
			background-position: -160px center;
			background-size: cover;
			opacity: 0.08;
		}
		//Для десктопа
		@media (min-width: 1200px) {
			background-position: -50% center;
			background-size: contain;
		}
		//Для десктопа
		@media (min-width: 1600px) {
			background-position: -40% center;
			background-size: contain;
		}
		//Для десктопа
		@media (min-width: 1920px) {
			background-position: -10% center;
			background-size: contain;
		}
	}
	//Для планшета
	@media (min-width: 768px) {
		box-shadow: none;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		padding: 20px 0 65px;
	}
	//Для десктопа
	@media (min-width: 3840px) {
		padding: 30px 0 125px;
	}
}
.yacht-title {
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	z-index: 1;
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: 15px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		z-index: 4;
	}
}
.yacht__content {
	margin: 0 auto;
	display: flex;
	position: relative;
	//Для планшета
	@media (min-width: 768px) {
		justify-content: space-between;
	}
}
.yacht__desc {
	width: 100%;
	//Для планшета
	@media (min-width: 768px) {
		width: 59%;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		width: 52%;
	}
	//Для десктопа
	@media (min-width: 1600px) {
		width: 50%;
	}
}

.yacht__desc-list {
	margin-bottom: 44px;
	&:nth-of-type(2) {
		margin-bottom: 24px;
	}
}
.yacht__desc-item {
	margin-left: 31px;
	margin-bottom: 20px;
	position: relative;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 400;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	//Для большого смартфона
	@media (min-width: 400px) {
		font-size: 17px;
	}
	//Для большого смартфона
	@media (min-width: 420px) {
		font-size: 18px;
	}
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: 15px;
		line-height: 1.2;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		font-family: "M PLUS 1p", sans-serif;
		font-size: 22px;
		line-height: 1;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		font-size: 18px;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
	&::before {
		content: url("../img/icons/list-marker.png");
		position: absolute;
		left: -31px;
		top: -4px;
		//Для большого планшета
		@media (min-width: 1024px) {
			top: 0;
		}
		//Для десктопа
		@media (min-width: 1200px) {
			top: -4px;
		}
	}
	span {
		font-weight: 700;
	}
}
.yacht__img {
	display: none;
	//Для планшета
	@media (min-width: 768px) {
		display: block;
		position: relative;
		width: 41%;
		z-index: 3;
		padding-top: 2px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		width: 48%;
	}
	//Для десктопа
	@media (min-width: 1600px) {
		width: 50%;
	}
	img {
		position: absolute;
		//Для планшета
		@media (min-width: 768px) {
			margin-top: 175px;
			margin-left: -5px;
			transform: scale(2);
		}
		//Для планшета
		@media (min-width: 960px) {
			margin-top: 165px;
			margin-left: 15px;
			transform: scale(2.3);
		}
		//Для планшета
		@media (min-width: 1024px) {
			margin-top: 140px;
			margin-left: -16px;
			transform: scale(2);
		}
		//Для десктопа
		@media (min-width: 1200px) {
			margin-top: 40px;
			margin-left: 10px;
			transform: scale(1.6);
		}
		//Для десктопа
		@media (min-width: 1366px) {
			margin-left: 70px;
			transform: scale(1.75);
		}
		//Для десктопа
		@media (min-width: 1600px) {
			margin-top: -70px;
			margin-left: 110px;
			transform: scale(1.9);
		}
		//Для десктопа
		@media (min-width: 1920px) {
			margin-top: -70px;
			margin-left: 160px;
			transform: scale(2);
		}
	}
}
.layered-img {
	position: relative;
	z-index: 3;
}
.leda {
	position: relative;
	z-index: 3;
}
.sea {
	position: relative;
	z-index: 2;
}
.sky {
	position: relative;
	z-index: 1;
}
