.blog {
	margin: 0 auto;
	padding: 30px 0 30px;
	min-height: calc(~"100vh - 257px");
	background-color: #f4f8f9;
	//Для планшета
	@media (min-width: 768px) {
		padding: 0 0 45px;
	}
}
/*--Контейнер--*/
.blog-container {
	width: 100%;
	max-width: 428px;
	padding: 0 15px;
	margin: 0 auto;
	//Для большого смартфона
	@media (min-width: 410px) {
		padding: 0 20px;
	}
	//Для большого смартфона
	@media (min-width: 420px) {
		padding: 0 24px;
	}
	//Для большого смартфона
	@media (min-width: 429px) {
		max-width: 1200px;
		padding: 0 15px;
	}
	//Для планшета
	@media (min-width: 768px) {
		padding: 0 30px;
	}
	//Для планшета
	@media (min-width: 1024px) {
		padding: 0 40px;
	}
	//Для планшета
	@media (min-width: 1100px) {
		padding: 0 60px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		max-width: 1024px;
		padding: 0;
	}
}
.blog-section__title {
	text-align: center;
	margin-bottom: 15px;
	h3 {
		margin-bottom: 0;
		font-size: 26px;
		//Для большого смартфона
		@media (min-width: 360px) {
			font-size: 28px;
		}
		//Для большого смартфона
		@media (min-width: 400px) {
			font-size: 30px;
		}
		//Для большого смартфона
		@media (min-width: 420px) {
			font-size: 32px;
		}
		//Для планшета
		@media (min-width: 768px) {
			margin-bottom: 20px;
		}
	}
}
.blog-intro {
	margin: 0 auto 30px;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(221, 235, 255, 1) 25%,
		rgba(221, 235, 255, 1) 50%,
		rgba(221, 235, 255, 1) 75%,
		rgba(255, 255, 255, 0) 100%
	);
	filter: drop-shadow(0 3px 5px rgba(24, 55, 83, 0.45));
	p {
		font-family: serif;
		font-style: italic;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: -0.1px;
		text-align: center;
		//Для планшета
		@media (min-width: 768px) {
			font-size: 20px;
			line-height: 1.5;
		}
		//Для планшета Ipad Pro
		@media (min-width: 1024px) {
			letter-spacing: 0;
			font-size: 22px;
		}
		//Для десктопа
		@media (min-width: 1200px) {
			font-size: 26px;
		}
		//Для десктопа
		@media (min-width: 1600px) {
			font-size: 28px;
		}
	}
}
.article-prev {
	margin-bottom: 30px;
	padding-top: 15px;
	background-color: #fff;
	box-shadow: 0 10px 30px 3px rgba(119, 162, 219, 0.6);
	display: flex;
	flex-direction: column;
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: 60px;
		padding-top: 0;
		flex-direction: row;
		border-radius: 25px;
		overflow: hidden;
	}
}
.article__title-row-mob {
	margin-bottom: 15px;
	padding: 0 5px;
	text-align: center;
	//Для планшета
	@media (min-width: 768px) {
		display: none;
	}
}
.article__content-row {
	padding: 0 7px 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	//Для большого смартфона
	@media (min-width: 420px) {
		padding: 0 20px 15px;
	}
	//Для планшета
	@media (min-width: 768px) {
		padding: 10px 15px 10px 15px;
		width: 61.7%;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		padding: 15px 25px 15px 25px;
		width: 63%;
	}
}
.article__title-row-prev {
	display: none;
	a {
		&:focus {
			outline: none;
			filter: drop-shadow(0px 0px 2px #ffffff)
				drop-shadow(0px 0px 10px rgba(255, 0, 255, 0.2))
				drop-shadow(2px 2px 6px rgba(0, 0, 255, 0.6))
				drop-shadow(-2px -2px 6px rgba(131, 170, 241, 0.6));
		}
	}
	//Для планшета
	@media (min-width: 768px) {
		display: block;
		margin-bottom: 10px;
		text-align: unset;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		margin-bottom: 15px;
	}
}
.article__title-heading-prev {
	font-size: 21px;
	font-weight: 700;
	font-family: "M PLUS 1p", sans-serif;
	color: var(--brand-blue);
	line-height: 1.2;
	transition: 0.3s;
	//Для большого смартфона
	@media (min-width: 340px) {
		font-size: 22px;
	}
	//Для большого смартфона
	@media (min-width: 400px) {
		font-size: 24px;
	}
	//Для мобильных (горизонтально)
	@media (min-width: 480px) {
		font-size: 22px;
	}
	//Для планшета
	@media (min-width: 768px) {
		font-size: 24px;
	}
	&:hover {
		color: var(--main-blue);
		transform: scale(1.03);
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		font-size: 28px;
	}
}
.publish-info-prev {
	margin-bottom: 15px;
	// text-align: center;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #656569;
	line-height: 1.5;
	text-align: center;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(221, 235, 255, 1) 25%,
		rgba(221, 235, 255, 1) 50%,
		rgba(221, 235, 255, 1) 75%,
		rgba(255, 255, 255, 0) 100%
	);
	filter: drop-shadow(0 3px 5px rgba(24, 55, 83, 0.45));
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: 10px;
		font-size: 14px;
		text-align: unset;
		background: none;
		filter: none;
		line-height: 1.2;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		margin-bottom: 15px;
		font-size: 15px;
	}
}
.article__img-row-prev {
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
	a {
		//Для планшета
		@media (min-width: 768px) {
			height: 100%;
		}
	}
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: unset;
		width: 40%;
		text-align: unset;
		overflow: hidden;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		width: 38%;
	}
	img {
		object-fit: cover;
		width: 100%;
		filter: drop-shadow(0px 3px 3px rgba(119, 162, 219, 0.7));
		transition: 0.8s ease-in-out;
		//Для большого смартфона
		@media (min-width: 420px) {
			width: unset;
			margin: 0 auto;
		}
		//Для планшета
		@media (min-width: 768px) {
			margin: unset;
			width: auto;
			height: 100%;
			filter: none;
			&:hover {
				transform: scale(1.3);
				filter: saturate(1.1);
			}
		}
		//Для большого планшета
		@media (min-width: 1024px) {
			filter: none;
			&:hover {
				transform: scale(1.3);
				filter: saturate(1.1);
			}
		}
	}
}
.article__text-prev {
	margin-bottom: 20px;
	flex: 1 1 auto;
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: 15px;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		margin-bottom: 20px;
	}
	p {
		font-family: "M PLUS 1p", sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 15px;
		//Для планшета
		@media (min-width: 768px) {
			font-size: 18px;
			font-weight: 400;
		}
	}
	span {
		color: var(--brand-blue);
		font-weight: 700;
	}
}
.article__btn-row-prev {
	display: flex;
	flex-direction: column;
	align-items: center;
	//Для мобильных (горизонтально)
	@media (min-width: 480px) {
		flex-direction: row;
		justify-content: space-between;
	}
	//Для планшета
	@media (min-width: 768px) {
		align-items: flex-end;
	}
}
.article__btn-readmore {
	margin-bottom: 20px;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	height: 48px;
	background-color: var(--main-blue);
	border-radius: 24px;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: #fff;
	line-height: 48px;
	text-align: center;
	z-index: 1;
	cursor: pointer;
	transition: 0.3s;
	//Для мобильных (горизонтально)
	@media (min-width: 480px) {
		margin-bottom: 0;
	}
	//Для планшета
	@media (min-width: 768px) {
		padding-left: 22px;
		padding-right: 22px;
		height: 42px;
		border-radius: 21px;
		font-size: 20px;
		line-height: 42px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		height: 50px;
		padding-left: 25px;
		padding-right: 25px;
		border-radius: 25px;
		font-size: 24px;
		line-height: 50px;
	}
	//Для десктопа
	@media (min-width: 1600px) {
		height: 52px;
		padding-left: 26px;
		padding-right: 26px;
		line-height: 52px;
		font-size: 26px;
		font-weight: 500;
	}
	cursor: pointer;
	transition: 0.3s;
	&:hover,
	&:active {
		background-color: var(--underline);
		transform: scale(1.03);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	}
	&:focus {
		outline: none;
		filter: drop-shadow(0px 0px 2px #ffffff)
			drop-shadow(0px 0px 10px rgba(255, 0, 255, 0.2))
			drop-shadow(2px 2px 6px rgba(0, 0, 255, 0.6))
			drop-shadow(-2px -2px 6px rgba(131, 170, 241, 0.6));
	}
}
.share-mob {
	a {
		transition: 0.3s;
		&:hover {
			transform: scale(1.1);
			filter: brightness(1.1) drop-shadow(0 3px 2px rgba(13, 25, 46, 0.6));
		}
		&:focus {
			outline: none;
			filter: drop-shadow(0px 0px 2px #ffffff)
				drop-shadow(0px 0px 10px rgba(255, 0, 255, 0.2))
				drop-shadow(2px 2px 6px rgba(0, 0, 255, 0.6))
				drop-shadow(-2px -2px 6px rgba(131, 170, 241, 0.6));
		}
	}
	li {
		margin: 0 7px 0 0 !important;
		//Для большого смартфона
		@media (min-width: 360px) {
			margin: 0 10px 0 0 !important;
			transform: scale(1.1);
		}
		//Для большого смартфона
		@media (min-width: 375px) {
			margin: 0 12px 0 0 !important;
		}
		//Для большого смартфона
		@media (min-width: 400px) {
			margin: 0 15px 0 0 !important;
			transform: scale(1.2);
		}
		//Для большого смартфона
		@media (min-width: 420px) {
			margin: 0 16px 0 0 !important;
			transform: scale(1.25);
		}
		//Для мобильных (горизонтально)
		@media (min-width: 480px) {
			margin: 0 12px 0 0 !important;
			transform: scale(1.1);
		}
		//Для планшета
		@media (min-width: 768px) {
			margin: 0 3px 0 0 !important;
			transform: scale(0.75);
		}
		//Для большого планшета
		@media (min-width: 1024px) {
			margin: 0 10px 0 0 !important;
			transform: scale(1);
		}
		//Для десктопа
		@media (min-width: 1200px) {
			margin: 0 10px 0 0 !important;
		}
		&:last-of-type {
			margin: 0 !important;
		}
	}
}

/*--- Картинки анонсов статей ---*/
/*Статья 6*/
.blog-prev-img-6 {
	//Для планшета
	@media (min-width: 480px) and (max-width: 767px) {
		content: url("../img/articles/bounty-leda/big/leda_bounty.jpg");
	}
}
/*Статья 5*/
.blog-prev-img-5 {
	//Для планшета
	@media (min-width: 480px) and (max-width: 767px) {
		content: url("../img/articles/balaklava/balaklava-nazukina.jpg");
	}
}
/*Статья 4*/
.blog-prev-img-4 {
	//Для планшета
	@media (min-width: 480px) and (max-width: 767px) {
		content: url("../img/articles/top-clear-water/big/mus-aya-big.jpg");
	}
}
/*Статья 3*/
.blog-prev-img-3 {
	//Для планшета
	@media (min-width: 480px) and (max-width: 767px) {
		content: url("../img/articles/top-clear-water/big/grot-dianu-big.jpg");
	}
}
/*Статья 2*/
.blog-prev-img-2 {
	//Для планшета
	@media (min-width: 480px) and (max-width: 767px) {
		content: url("../img/articles/top-clear-water/big/bounty-big.jpg");
	}
}
/*Статья 1*/
.blog-prev-img-1 {
	//Для планшета
	@media (min-width: 480px) and (max-width: 767px) {
		content: url("../img/articles/top-clear-water/big/tropical-water-big.jpg");
	}
}
