.footer {
	margin: 0 auto;
	position: relative;
	z-index: 1;
	padding: 15px 0 5px;
	background-color: var(--brand-blue);
}
.footer__row {
	margin-bottom: 5px;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	//Для мобильных (горизонтально)
	@media (min-width: 565px) {
		flex-direction: row;
		justify-content: space-between;
	}
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: 0;
		flex-direction: column;
		justify-content: unset;
		align-items: unset;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}
.logo-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
	//Для планшета
	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		margin-bottom: 0;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
}
.footer__nav {
	display: none;
	//Для десктопа
	@media (min-width: 1200px) {
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.footer__title {
	display: inline-block;
	margin-bottom: 10px;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	border-bottom: 1px solid #fff;
	line-height: 1;
}
.footer__nav-list {
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	//Для десктопа
	@media (min-width: 1200px) {
		margin-bottom: 0;
		justify-content: flex-start;
	}
}
.footer__nav-item {
	margin-right: 15px;
	&:last-of-type {
		margin-right: 0;
	}
	a {
		position: relative;
		display: inline-block;
		font-family: sans-serif;
		font-size: 18px;
		font-weight: 300;
		color: rgb(139, 191, 226);
		line-height: 1;
		z-index: 1;
		transition: 0.3s ease-in-out;
		&:hover,
		&:active,
		&:focus {
			outline: none;
			color: #fff;
			transform: translateY(-3px) scale(1.07);
			text-shadow: 0 5px 3px rgba(1, 0, 41, 0.7);
		}
	}
}
.footer__nav-link.footer__nav-link--active {
	color: #fff;
	// &::after {
	//   content: "";
	//   position: absolute;
	//   bottom: 0;
	//   left: 0;
	//   width: 102%;
	//   height: 1px;
	//   color: #fff;
	//   background-color: #fff;
	//   z-index: -1;
	//   pointer-events: none;
	// }
}
.footer__info {
	a {
		font-size: 16px;
	}
}
.logo-col > ul {
	display: flex;
	width: 100%;
	justify-content: space-between;
	//Для планшета
	@media (min-width: 768px) {
		display: flex;
		width: unset;
		justify-content: space-between;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		width: 100%;
		justify-content: space-between;
	}
	a {
		width: 50px;
		height: 50px;
		svg {
			width: 32px;
			height: 32px;
		}
		svg.vib-head {
			width: 30px;
			height: 30px;
		}
	}
}
.copyrights {
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		margin-bottom: 10px;
		text-align: center;
		color: #fff;
		font-size: 14px;
		font-weight: 300;
		font-family: sans-serif;
		//Для большого смартфона
		@media (min-width: 360px) {
			font-size: 12px;
		}
		//Для большого смартфона
		@media (min-width: 400px) {
			font-size: 13px;
		}
		//Для большого смартфона
		@media (min-width: 420px) {
			font-size: 13px;
		}
		//Для десктопа
		@media (min-width: 1200px) {
			font-size: 12px;
		}
	}
	a {
		color: #fff;
		border-bottom: 1px solid #fff;
		&:hover {
			color: rgb(241, 124, 28);
			border-color: rgb(241, 124, 28);
		}
		&:focus {
			outline: none;
			filter: drop-shadow(0px 0px 1px #ffffff)
				drop-shadow(0px 0px 8px rgba(255, 0, 255, 0.15))
				drop-shadow(2px 2px 5px rgba(0, 0, 255, 0.4))
				drop-shadow(-2px -2px 5px rgba(131, 170, 241, 0.4));
		}
	}
}
.yandex-informer {
	a {
		border-bottom: none;
	}
}
footer .insta-h-a {
	pointer-events: none;
	svg {
		color: gray;
	}
}
