.header {
	margin: 0 auto;
	max-width: 100%;
	padding: 21px 0 10px;
	position: relative;
	background: #fff;
	// z-index: 0;
	&::before {
		content: "";
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: -1;
		//Для десктопа
		@media (min-width: 1200px) {
			display: none;
		}
	}
	//Для планшета
	@media (min-width: 768px) {
		padding: 21px 0 10px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		background: unset;
		z-index: unset;
		margin: 0 auto;
		padding: unset;
	}
}
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	//Для смартфона
	@media (min-width: 480px) {
		margin-bottom: 10px;
	}
	//Для планшета
	@media (min-width: 960px) {
		margin-bottom: 0;
	}
	//Для планшета
	@media (min-width: 1200px) {
		position: relative;
		z-index: 1;
		padding: 5px 0 2px;
		margin-bottom: 15px;
		&::before {
			content: "";
			position: absolute;
			background: rgba(255, 255, 255, 0.75);
			backdrop-filter: blur(7px);
			width: 100vw;
			height: 100%;
			top: 0;
			left: 50%;
			z-index: 0;
			transform: translateX(-50%);
		}
	}
}
.header-nav.header-nav--main-page {
	margin-bottom: 0;
}
//----- Фиксированное (скролл) меню для планшетов и мобилок -----
#nav-wrapper {
	display: none;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
}
.header-nav-fixed {
	padding: 0 15px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	z-index: 4;
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(7px);
	//Для смартфона
	@media (min-width: 480px) {
		padding: 0 20px;
	}
	//Для планшета
	@media (min-width: 768px) {
		padding: 0 30px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		display: none;
	}
	.logo-fixed {
		display: inline-block;
		position: relative;
		z-index: 5;
		font-size: 30px;
		font-family: serif;
		font-style: italic;
		color: var(--brand-blue);
		font-weight: 700;
		line-height: 1;
		letter-spacing: -3.2px;
		transition: transform 0.3s;
		//Для большого смартфона
		@media (min-width: 400px) {
			font-size: 32px;
		}
		//Для планшета
		@media (min-width: 768px) {
			font-size: 36px;
		}
		//Для большого планшета
		@media (min-width: 1024px) {
			font-size: 38px;
		}
		&:hover {
			transform: scale(1.03) !important;
		}
		a {
			color: var(--brand-blue);
			transition: color 0.3s ease-in;
			&:hover {
				color: var(--main-blue);
			}
			&:focus {
				outline: none;
				filter: drop-shadow(0px 0px 2px #ffffff)
					drop-shadow(0px 0px 10px rgba(255, 0, 255, 0.2))
					drop-shadow(2px 2px 6px rgba(0, 0, 255, 0.6))
					drop-shadow(-2px -2px 6px rgba(131, 170, 241, 0.6));
			}
		}
	}
}
//----- /Фиксированное (скролл) меню для планшетов и мобилок -----
.header-nav__list {
	display: none;
	//Для десктопа
	@media (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
}
.header-nav__item {
	//Для десктопа
	@media (min-width: 1200px) {
		margin-right: 16px;
	}
	//Для десктопа
	@media (min-width: 1280px) {
		margin-right: 20px;
	}
	//Для десктопа
	@media (min-width: 1366px) {
		margin-right: 25px;
	}
	//Для десктопа
	@media (min-width: 1920px) {
		margin-right: 30px;
	}
	&:last-child {
		margin-right: 0;
	}
}
.header-nav__link {
	position: relative;
	color: var(--main-blue);
	font-family: sans-serif;
	// font-style: italic;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.2;
	transition: 0.3s;
	// letter-spacing: -1px;
	//Для десктопа
	@media (min-width: 1200px) {
		font-size: 21px;
		letter-spacing: -0.2px;
	}
	//Для десктопа
	@media (min-width: 1280px) {
		font-size: 22px;
		letter-spacing: unset;
	}
	//Для десктопа
	@media (min-width: 1366px) {
		font-size: 23px;
	}
	//Для десктопа
	@media (min-width: 1600px) {
		font-size: 30px;
	}
	&:hover {
		color: var(--brand-blue);
	}
	&::after {
		content: "";
		position: absolute;
		width: 0;
		bottom: 0;
		left: 0;
		height: 2px;
		background-color: var(--underline);
		transition: 0.3s ease-in;
		// z-index: -1;
	}
	&:hover::after,
	&:focus::after {
		width: 102%;
	}
	&:focus {
		outline: none;
		border-top: 1px dotted var(--underline);
	}
	&:active {
		outline: none;
		padding: 0;
		border: none;
	}
}
//Активная ссылка
.header-nav__link.header-nav__link--active {
	color: var(--brand-blue);
	transition: 0.3s;
	&:hover {
		color: var(--main-blue);
	}
	&::after {
		content: "";
		position: absolute;
		width: 102%;
		bottom: 0;
		left: 0;
		height: 2px;
		background-color: var(--underline);
		// z-index: -1;
		pointer-events: none;
	}
}

//---Социальные иконки хедера
.header-social__row {
	display: none;
	//Для десктопа
	@media (min-width: 1200px) {
		display: flex;
		z-index: 8;
	}
}
.icon-item {
	margin-right: 10px;
	position: relative;
	&:last-child {
		margin-right: 0;
	}
}
.header-links__row {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.header-social__icon {
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
	&:hover {
		display: flex;
		transform: scale(1.1);
		border-radius: 50%;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
	}
	&:focus {
		outline: none;
		filter: drop-shadow(0px 0px 10px rgba(255, 0, 255, 0.3))
			drop-shadow(2px 2px 8px rgba(0, 0, 255, 0.7))
			drop-shadow(-2px -2px 8px rgba(131, 170, 241, 0.7));
	}
}
.header-social__icon > svg {
	color: #fff;
	width: 20px;
	height: 20px;
}
.icon-item .vib-head {
	width: 19px;
	height: 19px;
}
/*--Универсальные круглые иконки контактов--*/
.insta-h-a {
	background-color: var(--brand-blue);
	position: relative;
	cursor: not-allowed;
	&:hover {
		// --- Временно из-за санкций закрыто
		// background-color: #d6249f;
		// background: radial-gradient(
		// 	circle at 30% 107%,
		// 	#fdf497 0%,
		// 	#fdf497 5%,
		// 	#fd5949 45%,
		// 	#d6249f 60%,
		// 	#285aeb 90%
		// );
		// --- /Временно из-за санкций закрыто
		background: gray;
		transform: scale(1) !important;
		box-shadow: none !important;
	}
	&:focus {
		filter: none !important;
	}
	&:hover::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		border-radius: 50%;
		z-index: 2;
	}
}
.insta-head {
	transition: 0.3s;
	&:hover {
		transform: scale(1.4) rotate(360deg);
	}
}
.tele-h-a {
	background-color: var(--brand-blue);
	&:hover {
		background-color: #039be5;
	}
}
.tele-head {
	transition: 0.3s;
	&:hover {
		transform: scale(1.2);
	}
}
.vk-h-a {
	background-color: var(--brand-blue);
	&:hover {
		background-color: #4d76a1;
	}
}
.vk-head {
	transition: 0.3s;
	&:hover {
		transform: scale(1.25);
	}
}
.whatsapp-h-a {
	background-color: var(--brand-blue);
	&:hover {
		background-color: #43d854;
	}
}
.whatsapp-head {
	transition: 0.3s;
	&:hover {
		transform: scale(1.25);
	}
}
.vib-h-a {
	background-color: var(--brand-blue);
	&:hover {
		background-color: #665cac;
	}
}
.vib-head {
	transition: 0.3s;
	&:hover {
		transform: scale(1.15);
	}
}
//---/Социальные иконки хедера
.phone-top {
	display: none;
	a {
		font-size: 20px;
		font-weight: 500;
		font-family: "M PLUS 1p", sans-serif;
		color: var(--main-blue);
		line-height: 1;
		transition: 0.5s;
		&:hover {
			color: red;
		}
	}
	//Для десктопа
	@media (min-width: 1200px) {
		z-index: 7;
		cursor: pointer;
		display: block;
	}
}
.phone-top.phone-top--scroll {
	//Для десктопа
	@media (min-width: 1200px) {
		display: inline-block;
		max-width: fit-content;
		align-self: flex-end;
		padding: 0px 15px 3px 15px;
		z-index: 5;
		border-radius: 0px 0px 25px 25px;
		background-color: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(8px);
	}
}
.phone-top-mob {
	position: relative;
	z-index: 8;
	cursor: pointer;
	a {
		font-size: 20px;
		font-weight: 500;
		font-family: "M PLUS 1p", sans-serif;
		color: var(--main-blue);
		line-height: 1;
		transition: 0.5s;
		&:hover {
			color: red;
		}
	}
	//Для десктопа
	@media (min-width: 1200px) {
		display: none;
	}
}
.static-header {
	width: 100%;
	max-width: 320px;
	padding: 0 15px;
	margin: 0 auto;
	background: #fff;
	//Для большого смартфона
	@media (min-width: 360px) {
		max-width: 360px;
	}
	//Для большого смартфона
	@media (min-width: 400px) {
		max-width: 400px;
	}
	//Для большого смартфона
	@media (min-width: 420px) {
		padding: 0 20px;
		max-width: 420px;
	}
	//Для мобильных (горизонтально)
	@media (min-width: 480px) {
		max-width: 560px;
	}
	//Для планшета
	@media (min-width: 768px) {
		max-width: 768px;
		padding: 0 30px;
	}
	//Для планшета
	@media (min-width: 840px) {
		max-width: 840px;
		padding: 0 30px;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		max-width: 1024px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		background: unset;
		max-width: 1140px;
		padding: 0;
		display: none;
	}
}
.header-content {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	//Для планшета
	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
	}
}
.header-content__desc {
	width: 100%;
	//Для планшета
	@media (min-width: 768px) {
		padding: 10px 10px 0;
		border-radius: 0 0 70px 25px;
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 1) 75%,
			rgba(255, 255, 255, 0) 100%
		);
	}
	//Для планшета
	@media (min-width: 960px) {
		padding: 30px 10px 0px 0px;
	}

	//Для десктопа
	@media (min-width: 1200px) {
		// margin: 0px 0px 0px 14px;
		padding: 30px 12px 40px 12px;
		width: 48%;
		filter: drop-shadow(-30px 50px 20px rgba(119, 162, 219, 0.3));
	}
	p {
		font-size: 17px;
		font-family: sans-serif;
		color: rgb(7, 7, 7);
		font-weight: 400;
		line-height: 1.5;
		text-indent: 10px;
		//Для планшета
		@media (min-width: 768px) {
			font-size: 16px;
			line-height: 1.35;
		}
		//Для планшета
		@media (min-width: 890px) {
			font-size: 17px;
		}
		//Для планшета
		@media (min-width: 1024px) {
			font-size: 21px;
			font-style: italic;
		}
		//Для десктопа
		@media (min-width: 1200px) {
			font-size: 26px;
			font-family: serif;
			color: #070707;
			font-weight: 400;
			text-indent: 15px;
		}
		&:nth-last-of-type(2) {
			margin-bottom: 5px;
			//Для планшета
			@media (min-width: 768px) {
				margin-bottom: 0;
			}
		}
		&:last-of-type {
			margin-bottom: 15px;
			font-weight: 700;
			text-align: center;
			color: var(--brand-blue);

			//Для планшета
			@media (min-width: 768px) {
				margin-bottom: 25px;
			}
			//Для планшета
			@media (min-width: 1024px) {
				margin-bottom: 35px;
			}
			//Для десктопа
			@media (min-width: 1200px) {
				margin-bottom: 40px;
			}
		}
		span {
			font-weight: 700;
		}
		&:first-of-type {
			span {
				color: var(--brand-blue);
			}
		}
	}
}
.header-btn-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	//Для планшета
	@media (min-width: 768px) {
		padding-left: 5px;
		padding-right: 5px;
		flex-direction: row;
		justify-content: space-between;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		padding-left: 15px;
		padding-right: 10px;
	}
}
.header-content__img {
	position: relative;
	width: 100%;
	z-index: 2;
	padding-top: 20px;
	padding-bottom: 40px;
	transform: scale(1.2);
	//Для мобильных
	@media (min-width: 360px) {
		padding-top: 25px;
	}
	//Для мобильных
	@media (min-width: 420px) {
		padding-top: 30px;
	}
	//Для мобильных (горизонтально)
	@media (min-width: 480px) {
		transform: scale(1.1);
	}
	//Для планшета
	@media (min-width: 768px) {
		max-width: 50%;
		padding-top: 0;
		padding-bottom: 0;
		transform: scale(1);
	}
	&::before {
		//Для планшета
		@media (min-width: 768px) {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -10%;
			right: -9%;
			z-index: -1;
			border-radius: 25px;
			background-image: linear-gradient(
				to top,
				rgba(205, 228, 255, 0) 0%,
				rgba(172, 211, 255, 0.3) 15%,
				rgba(172, 211, 255, 0.25) 60%,
				rgba(244, 248, 249, 0) 100%
			);
			filter: drop-shadow(0px 0px 5px rgba(139, 165, 172, 0.35));
			backdrop-filter: blur(2px) grayscale(0.1);
		}
		//Для планшета
		@media (min-width: 960px) {
			right: -24%;
		}
	}
	img {
		//Для планшета
		@media (min-width: 768px) {
			margin-top: -10px;
		}
	}
}
.header-bg-row {
	margin: 0 auto;
	max-width: 1600px;
	z-index: 0;
	margin-top: 4px;
	position: relative;
	//Для планшета
	@media (min-width: 768px) {
		margin-top: -70px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		margin-top: -120px;
		z-index: 1;
	}
	img {
		transform: scale(1.23);
		//Для планшета
		@media (min-width: 768px) {
			transform: scale(1);
		}
	}
	&::before {
		content: "";
		position: absolute;
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 10%,
			rgba(255, 255, 255, 1) 100%
		);
		width: 100vw;
		height: 100%;
		top: 0;
		left: 50%;
		z-index: 0;
		transform: translateX(-50%);
	}
}
//----- Фиксированное (скролл) меню для ПК -----
#nav-wrapper-pc {
	//Для ПК
	@media (min-width: 1200px) {
		display: none;
		position: fixed;
		z-index: 6;
		top: 0;
		left: 0;
		width: 100%;
	}
}
.header-nav__overlay {
	display: flex;
	position: fixed;
	flex-direction: column;
	width: 100%;
	max-width: 1600px;
	top: 0;
	left: 50%;
	height: auto;
	transform: translateX(-50%);
}
.header-nav-fixed-pc {
	display: none;
	//Для ПК
	@media (min-width: 1200px) {
		padding: 8px 15px 0;
		z-index: 7;
		display: flex;
		justify-content: space-between;
		align-items: center;
		backdrop-filter: blur(8px);
		&::before {
			content: "";
			position: absolute;
			background: rgba(255, 255, 255, 0.8);
			width: 100vw;
			height: 100%;
			top: 0;
			left: 50%;
			z-index: 0;
			transform: translateX(-50%);
		}
	}
}
//----- /Фиксированное (скролл) меню для ПК -----
// --- Шапка с видеофоном ---
// .dynamic-header {
// 	display: none;
// 	position: absolute;
// 	//Для десктопа
// 	@media (min-width: 1200px) {
// 		display: block;
// 		position: relative;
// 		z-index: 1;
// 		margin: 0 auto 105px;
// 	}
// }
// .video-bg {
// 	display: none;
// 	position: absolute;
// 	width: 0;
// 	//Для десктопа
// 	@media (min-width: 1200px) {
// 		display: block;
// 		width: 100%;
// 		height: 90vh;
// 		position: relative;
// 	}
// 	//Для десктопа
// 	@media (min-width: 1366px) {
// 		height: 90vh;
// 	}
// 	//Для десктопа
// 	@media (min-width: 1920px) {
// 		height: 95vh;
// 	}
// 	&::after {
// 		display: none;
// 		pointer-events: none;
// 		//Для десктопа
// 		@media (min-width: 1200px) {
// 			content: "";
// 			display: block;
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 100%;
// 			height: 100%;
// 			filter: saturate(1.2);
// 			background: rgb(255, 255, 255);
// 			background: linear-gradient(
// 				180deg,
// 				rgba(255, 255, 255, 1) 0%,
// 				rgba(15, 94, 114, 0.2) 5%,
// 				rgba(15, 94, 114, 0.2) 90%,
// 				rgba(255, 255, 255, 1) 98%,
// 				rgba(255, 255, 255, 1) 100%
// 			);
// 			backdrop-filter: blur(1px);
// 			z-index: 2;
// 		}
// 	}
// }
// .video-bg__container {
// 	width: 100%;
// 	max-width: 320px;
// 	@media (min-width: 330px) {
// 		max-width: 330px;
// 	}
// 	//Для смартфона
// 	@media (min-width: 340px) {
// 		max-width: 340px;
// 	}
// 	//Для большого смартфона
// 	@media (min-width: 360px) {
// 		max-width: 360px;
// 	}
// 	//Для большого смартфона
// 	@media (min-width: 400px) {
// 		max-width: 400px;
// 	}
// 	//Для большого смартфона
// 	@media (min-width: 420px) {
// 		max-width: 420px;
// 	}
// 	//Для десктопа
// 	@media (min-width: 1200px) {
// 		display: block;
// 		position: relative;
// 		z-index: 3;
// 		max-width: 1600px;
// 		height: 100%;
// 		margin: 0 auto;
// 	}
// }
// .vide-bg__content {
// 	display: none;
// 	//Для десктопа
// 	@media (min-width: 1200px) {
// 		display: flex;
// 		height: 100%;
// 		flex-direction: column;
// 		justify-content: space-between;
// 		align-items: center;
// 	}
// }
// .video-bg__title-row {
// 	display: none;
// 	//Для десктопа
// 	@media (min-width: 1200px) {
// 		display: block;
// 		padding-top: 1vh;
// 	}
// }
// .video-bg__title {
// 	color: #fff;
// 	background: linear-gradient(
// 		180deg,
// 		rgba(255, 255, 255, 1) 0%,
// 		rgba(255, 255, 255, 1) 50%,
// 		rgba(162, 165, 255, 1) 100%
// 	);
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	font-family: serif;
// 	font-style: italic;
// 	text-align: center;
// 	font-size: 50px;
// 	font-weight: 700;
// 	line-height: 1.5;
// 	filter: drop-shadow(0 0 2px rgba(0, 35, 99, 0.85))
// 		drop-shadow(2px 2px 3px rgba(6, 21, 61, 0.75))
// 		drop-shadow(-2px -2px 3px rgba(0, 36, 90, 0.6));
// 	//Для десктопа
// 	@media (min-width: 1366px) {
// 		font-size: 60px;
// 	}
// 	//Для десктопа
// 	@media (min-width: 1920px) {
// 		font-size: 70px;
// 	}
// }
// .video-bg__overlay {
// 	display: none;
// 	//Для десктопа
// 	@media (min-width: 1200px) {
// 		display: flex;
// 		padding: 0 30px;
// 		flex-direction: column;
// 		align-items: center;
// 		justify-content: space-between;
// 		position: relative;
// 		max-width: 1600px;
// 		background: rgb(255, 255, 255);
// 		background: linear-gradient(
// 			180deg,
// 			rgba(255, 255, 255, 0.3) 0%,
// 			rgba(255, 255, 255, 0.4) 10%,
// 			rgba(255, 255, 255, 0.75) 60%,
// 			rgba(255, 255, 255, 0.9) 70%,
// 			rgba(255, 255, 255, 1) 100%
// 		);
// 		backdrop-filter: blur(5px);
// 	}
// 	//Для десктопа
// 	@media (min-width: 1601px) {
// 		border-radius: 25px 25px;
// 	}
// 	//Для десктопа
// 	@media (min-width: 1920px) {
// 		border-radius: 25px 25px;
// 	}
// 	p {
// 		//Для десктопа
// 		@media (min-width: 1200px) {
// 			color: rgb(7, 7, 7);
// 			font-weight: 400;
// 			line-height: 1.5;
// 			font-size: 18px;
// 			font-family: sans-serif;
// 			color: #070707;
// 			font-weight: 400;
// 			text-align: center;
// 			letter-spacing: -0.5px;
// 			//Для десктопа
// 			@media (min-width: 1366px) {
// 				font-size: 18px;
// 				letter-spacing: unset;
// 			}
// 			//Для десктопа
// 			@media (min-width: 1920px) {
// 				font-size: 20px;
// 			}
// 			&:last-of-type {
// 				margin-bottom: -15px;
// 				font-size: 20px;
// 				//Для десктопа
// 				@media (min-width: 1920px) {
// 					margin-bottom: 0;
// 					font-size: 24px;
// 				}
// 			}
// 		}
// 		//Для десктопа
// 		@media (min-width: 1920px) {
// 			font-size: 24px;
// 		}
// 		//Для десктопа
// 		@media (min-width: 2560px) {
// 			font-size: 27px;
// 		}
// 		span {
// 			font-weight: 700;
// 		}
// 		&:first-of-type {
// 			span {
// 				color: var(--brand-blue);
// 			}
// 		}
// 	}
// 	a {
// 		&:focus {
// 			outline: none;
// 			filter: drop-shadow(0px 0px 3px rgba(255, 0, 255, 0.4))
// 				drop-shadow(1px 1px 4px rgba(0, 0, 255, 0.6))
// 				drop-shadow(-1px -1px 3px rgba(131, 170, 241, 0.6));
// 		}
// 	}
// }
// --- /Шапка с видеофоном ---
// --- Паралакс шапка ---
.paralaxe-header {
	display: none;
	margin: 0 auto;
	//Для десктопа
	@media (min-width: 1200px) {
		margin: 0 auto 105px;
		display: block;
		position: relative;
		height: 92vh;
		z-index: 0;
		background-image: url("../img/body-bg-img-head.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	//Для десктопа с большим экраном
	@media (min-width: 1920px) {
		height: 95vh;
		display: block;
		position: relative;
		z-index: 0;
		margin: 0 auto 105px;
	}
}
.paralaxe-header__container {
	width: 100%;
	max-width: 320px;
	@media (min-width: 330px) {
		max-width: 330px;
	}
	//Для смартфона
	@media (min-width: 340px) {
		max-width: 340px;
	}
	//Для большого смартфона
	@media (min-width: 360px) {
		max-width: 360px;
	}
	//Для большого смартфона
	@media (min-width: 400px) {
		max-width: 400px;
	}
	//Для большого смартфона
	@media (min-width: 420px) {
		max-width: 420px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		display: block;
		position: relative;
		z-index: 3;
		max-width: 1600px;
		height: 100%;
		margin: 0 auto;
	}
}
.paralaxe-header__content {
	display: none;
	//Для десктопа
	@media (min-width: 1200px) {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}
.paralaxe-header__title-row {
	display: none;
	//Для десктопа
	@media (min-width: 1200px) {
		display: block;
	}
}
.paralaxe-header__title {
	color: #fff;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 50%,
		rgba(162, 165, 255, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: serif;
	font-style: italic;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.5;
	filter: drop-shadow(0 0 2px rgba(0, 35, 99, 0.85))
		drop-shadow(2px 2px 3px rgba(6, 21, 61, 0.75))
		drop-shadow(-2px -2px 3px rgba(0, 36, 90, 0.6));
	&::selection {
		background: rgba(22, 111, 245, 0.1);
	}
	//Для десктопа
	@media (min-width: 1366px) {
		font-size: 60px;
	}
	//Для десктопа
	@media (min-width: 1920px) {
		font-size: 70px;
	}
	//Для десктопа
	@media (min-width: 2560px) {
		font-size: 78px;
	}
}
.paralaxe-header__overlay {
	display: none;
	//Для десктопа
	@media (min-width: 1200px) {
		display: flex;
		padding: 15px 10px 48px;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
		max-width: 1600px;
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.4) 10%,
			rgba(255, 255, 255, 0.7) 35%,
			rgba(255, 255, 255, 0.85) 50%,
			rgba(255, 255, 255, 1) 100%
		);
		backdrop-filter: blur(1px);
	}
	//Для десктопа
	@media (min-width: 1601px) {
		border-radius: 75px 75px 0 0;
	}
	//Для десктопа FHD
	@media (min-width: 1920px) {
		padding: 25px 10px 54px;
	}
	//Для десктопа
	@media (min-width: 2560px) {
		padding: 30px 10px 60px;
	}
	p {
		//Для десктопа
		@media (min-width: 1200px) {
			color: rgb(7, 7, 7);
			font-weight: 400;
			line-height: 1.5;
			font-size: 18px;
			font-family: sans-serif;
			color: #070707;
			font-weight: 400;
			text-align: center;
			letter-spacing: -0.5px;
			text-shadow: 0 0 2px #fff;
			//Для десктопа
			@media (min-width: 1366px) {
				font-size: 18px;
				letter-spacing: unset;
			}
			//Для десктопа
			@media (min-width: 1920px) {
				font-size: 24px;
				letter-spacing: -0.5px;
			}
		}
		//Для десктопа
		@media (min-width: 2560px) {
			font-size: 25px;
		}
		&:last-of-type {
			margin-bottom: -15px;
			font-size: 19px;
			//Для десктопа
			@media (min-width: 1920px) {
				margin-bottom: 0;
				font-size: 25px;
			}
			//Для десктопа
			@media (min-width: 2560px) {
				font-size: 26px;
			}
		}
		span {
			font-weight: 700;
		}
		&:first-of-type {
			span {
				color: var(--brand-blue);
			}
		}
	}
	a {
		&:focus {
			outline: none;
			filter: drop-shadow(0px 0px 3px rgba(255, 0, 255, 0.4))
				drop-shadow(1px 1px 4px rgba(0, 0, 255, 0.6))
				drop-shadow(-1px -1px 3px rgba(131, 170, 241, 0.6));
		}
	}
}
// --- /Паралакс шапка ---
.head-mob {
	position: absolute !important;
	z-index: 2 !important;
	top: 50vh;
	@media (min-width: 380px) and (max-width: 390px) and (min-height: 840px) and (max-height: 845px) {
		top: 48vh;
	}
	//Для планшета
	@media (min-width: 768px) {
		top: 80vh;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
	}
}
