.reviews {
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
	z-index: 1;
	box-shadow: 0 10px 25px rgb(4, 19, 46, 0.65) inset,
		0 -10px 25px rgb(4, 19, 46, 0.65) inset;
	background-image: url(../img/leda-river-bg.jpg);
	background-position: 70% center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	//Для большого смартфона
	@media (min-width: 360px) {
		padding: 30px 0;
	}
	//Для планшета
	@media (min-width: 768px) {
		padding: 30px 0;
		background-position: center;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		padding: 45px 0;
	}
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background-color: rgba(0, 33, 65, 0.7);
		backdrop-filter: blur(1px);
	}
}
.reviews__title {
	margin-bottom: 15px;
	text-align: center;
	//Для смартфона
	@media (min-width: 360px) {
		margin-bottom: 30px;
	}
	//Для большого смартфона
	@media (min-width: 400px) {
		margin-bottom: 45px;
	}
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: 60px;
	}
	h2 {
		font-size: 38px;
		//Для большого смартфона
		@media (min-width: 360px) {
			font-size: 40px;
		}
		//Для большого смартфона
		@media (min-width: 400px) {
			font-size: 46px;
		}
		//Для большого смартфона
		@media (min-width: 420px) {
			font-size: 52px;
		}
		//Для планшета
		@media (min-width: 768px) {
			font-size: 90px;
		}
		//Для большого планшета
		@media (min-width: 1024px) {
			font-size: 100px;
		}
		//Для десктопа
		@media (min-width: 1200px) {
			font-size: 120px;
		}
	}
}
.reviews__clients {
	max-width: 310px;
	margin: 0 auto;
	margin-bottom: 20px;
	//Для большого смартфона
	@media (min-width: 360px) {
		margin-bottom: 25px;
		max-width: 350px;
	}
	//Для большого смартфона
	@media (min-width: 400px) {
		margin-bottom: 30px;
		max-width: 380px;
	}
	//Для большого смартфона
	@media (min-width: 420px) {
		max-width: 400px;
	}
	//Для планшета
	@media (min-width: 768px) {
		max-width: 620px;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		max-width: 760px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		max-width: 860px;
	}
}
.reviews__clients-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 520px;
	//Для планшета
	@media (min-width: 768px) {
		max-width: 540px;
	}
	//Для планшета
	@media (min-width: 1024px) {
		max-width: 680px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		max-width: 840px;
	}
}
.reviews__clients-text {
	margin-bottom: 15px;
	padding: 0 5px;
	color: #fff;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	p {
		@media (min-width: 360px) {
			margin-bottom: 15px;
		}
	}
	//Для большого смартфона
	@media (min-width: 360px) {
		font-weight: 400;
		font-size: 16px;
	}
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: 25px;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		margin-bottom: 30px;
		font-size: 20px;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		margin-bottom: 45px;
		padding: 0 10px;
		font-size: 22px;
	}
}
.reviews__clients-user {
	display: flex;
	flex-direction: column;
	align-items: center;
	//Для десктопа
	@media (min-width: 1200px) {
		flex-direction: row;
	}
}
.reviews__clients-user-photo {
	margin-bottom: 20px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 45px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		margin-bottom: 0;
		margin-right: 40px;
	}
}
.reviews__clients-user-name {
	margin-bottom: 15px;
	color: #fff;
	font-size: 24px;
	font-family: serif;
	font-style: italic;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	//Для большого смартфона
	@media (min-width: 360px) {
		margin-bottom: 30px;
		font-size: 26px;
	}
	//Для большого смартфона
	@media (min-width: 400px) {
		margin-bottom: 40px;
		font-size: 30px;
	}
	//Для планшета
	@media (min-width: 768px) {
		margin-bottom: 0;
	}
	//Для большого планшета
	@media (min-width: 1024px) {
		font-size: 32px;
	}
}
.reviews__clients-carousel.owl-carousel .owl-nav button.owl-prev {
	width: 48px;
	height: 48px;
	background-image: url("../img/carousel/arrow-left.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	border-radius: 50%;
	transition: all 0.1s ease;
	&:hover {
		border-radius: 50%;
		outline: none;
		box-shadow: 0 0 7px #fff;
	}
	&:focus {
		outline: none;
	}
	span {
		display: none;
	}
	//Для планшета
	@media (min-width: 768px) {
		position: absolute;
		margin-left: 0;
		top: 0;
		bottom: auto;
		left: calc(~"0% - 50px");
		transform: unset;
	}
	//Для десктопа
	@media (min-width: 1200px) {
		top: 16px;
		left: -40px;
		transform: translatex(-100%);
	}
}
.reviews__clients-carousel.owl-carousel .owl-nav button.owl-next {
	width: 48px;
	height: 48px;
	background-image: url("../img/carousel/arrow-right.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	border-radius: 50%;
	transition: all 0.1s ease;
	&:hover {
		border-radius: 50%;
		outline: none;
		box-shadow: 0 0 7px #fff;
	}
	&:focus {
		outline: none;
	}
	span {
		display: none;
	}
	//Для планшета
	@media (min-width: 768px) {
		position: absolute;
		margin-left: 0;
		top: 0;
		left: auto;
		right: calc(~"0% - 50px");
	}
	//Для десктопа
	@media (min-width: 1200px) {
		top: 16px;
		right: -40px;
		transform: translatex(100%);
	}
}
.owl-nav {
	display: flex;
	justify-content: space-around;
	//Для планшета
	@media (min-width: 768px) {
		justify-content: center;
	}
	//Для планшета
	@media (min-width: 768px) {
		display: block;
	}
}
.reviews__ps {
	position: relative;
	text-align: center;
	p {
		color: #fff;
		font-size: 20px;
		font-family: serif;
		font-style: italic;
		font-weight: 500;
		line-height: 1.2;
		//Для планшета
		@media (min-width: 768px) {
			font-size: 26px;
		}
	}
	a {
		color: rgb(241, 124, 28);
		border-bottom: 1px solid rgb(241, 124, 28);
		line-height: 1.2;
		transition: 0.3s;
		&:hover {
			color: #fff;
			border-color: #fff;
			transform: scale(1.03);
		}
		&:focus {
			outline: none;
			filter: drop-shadow(0 0 3px #fff);
		}
	}
}
.reviews__btn-row {
	text-align: center;
}
.add-rev {
	font-weight: 500;
	font-size: 26px;
	//Для большого смартфона
	@media (min-width: 360px) {
		font-weight: 400;
		font-size: 28px;
	}
	//Для десктопа
	@media (min-width: 1920px) {
		margin-bottom: 10px;
	}
}
