.sections-separator {
  background-color: var(--brand-blue);
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 100px 0px rgba(13, 20, 46, 0.5) inset,
    0 15px 25px rgba(12, 18, 43, 0.6);
}
.sections-separator__row {
  margin: 0 auto;
  max-width: 1600px;
}
